.StudentForm{
  padding: 44px 0 0 28%;
 
}
 .example-button{
  margin: -52px 0 0 550px;
 }

.mat-form-field-wrapper{
  padding: 0 0px 16px 0;
}
table {
  width: 100%;
}
.FilterHorizontalRow{
  font-size: 14px;
  width: 100%;
}
 th{
  color: black;
  width: 10%;
  padding: 0 10px 0 0;
  font-size: 18px;
}
td{
font-size: 15px;

}
.FormButton {
  width: 6em;
  height: 40px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
}