.StudentForm{
  padding: 44px 0 0 28%;
 
}
 .example-button{
  margin: -52px 0 0 550px;
 }

.mat-form-field-wrapper{
  padding: 0 0px 16px 0;
}
table {
  width: 100%;
}
.FilterHorizontalRow{
  font-size: 14px;
  width: 100%;
}
 th{
  color: black;
  width: 10%;
  padding: 0 10px 0 0;
  font-size: 18px;
}
td{
font-size: 15px;

}
.FormButton {
  width: 6em;
  height: 40px;
  border-radius: 5px;
  margin: 0 5px 0 5px;
}
mat-form-field{
  font-weight:bold;
}


// HOVER ADD BUTTON
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    margin: 19px 0 0 85%;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1266f1;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}